@import 'fonts.css';

.flex-footer {
    flex-shrink: 0;
    padding-top: 1.8em;
    background-color: #7F27FF;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0;
}

.flex-div h3 {
    font-family: 'Corben', sans-serif;
}

.flex-div ul {
    margin: 2em 0;
    padding: 0;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
  
.flex-div li {
    list-style-type: none;
    padding: 0 0;
}
  
.flex-div li a{
    color: white;
    text-decoration: none;
}

.flex-div li:hover a{
    color: #FF8911;
    font-weight: 700;
}